:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #fff;
    --title-bgc: #2F303A;
}

body {
    background: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* ===========Лого=========== */

.logo-up,
.logo-under {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-up {
    color: #000;
}

.logo-under {
    color: var(--primary-white-color);
}

.logo-first-word,
.nav-link:hover,
.nav-link:focus,
.contact:hover,
.contact:focus {
    color: var(--accent-color);
}


/* ===========Навигация сайта=========== */

.nav-link,
.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.contact {
    color: var(--primary-text-color);
}


/* ===========Герой=========== */

.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}

.button-hero {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.button-hero:hover,
.button-hero:focus {
    background-color: #1b71b8;
}


/* ===========Преимущества/Работы/Команда=========== */

.benefits-first-title,
.work-title,
.team-first-title,
.title-benefits,
.title-team {
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-first-title,
.benefits-first-title,
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.text-benefits,
.text-team {
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}


/* ===========Преимущества=========== */

.title-benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.text-benefits {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
}


/* ===========Команда=========== */

.title-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.text-team {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19px;
    text-align: center;
}


/* ===========Подвал=========== */

.address-footer,
.contact-footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-footer {
    color: var(--primary-white-color);
}

.contact-footer {
    color: rgba(255, 255, 255, 0.6);
}


/* PORTFOLIO */

.button-links,
.button-links:hover,
.button-links:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63px;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.button-links {
    color: var(--title-text-color);
    background-color: #F5F4FA;
}

.button-links:hover,
.button-links:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}


/* Проекты */

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.project-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}


/* .hero-box,
.footer {
    background-color: var(--title-bgc);
} */