:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #fff;
    --title-bgc: #2F303A;
}

body {
    background: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-style: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

a,
button {
    text-decoration: none;
}


/* ===========Лого=========== */

.logo-up,
.logo-under {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-up {
    color: #000;
}

.logo-under {
    color: var(--primary-white-color);
}

.logo-up>span,
.logo-under>span,
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.links,
.title {
    color: var(--title-text-color);
}


/* ===========Герой=========== */

.hero.title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}

h2 {
    text-align: center;
}

.button-active {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button-active:hover,
.button-active:focus {
    background-color: #1b71b8;
}


/* .hero-box,
.footer {
    background-color: var(--title-bgc);
} */